<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SuzanneLea</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAidee</servlet-name>
    <servlet-class>servlet.CreateAidee</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAidee</servlet-name>
    <url-pattern>/createAidee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateAidant</servlet-name>
    <servlet-class>servlet.CreateAidant</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAidant</servlet-name>
    <url-pattern>/createAidant</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>servlet.Dashboard</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
</web-app>