<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SuzanneLea</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.Inscription</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAidant</servlet-name>
    <servlet-class>servlet.CreateAidant</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAidant</servlet-name>
    <url-pattern>/createAidant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>servlet.Dashboard</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Carnet</servlet-name>
    <servlet-class>servlet.Carnet</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carnet</servlet-name>
    <url-pattern>/carnet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Agenda</servlet-name>
    <servlet-class>servlet.Agenda</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agenda</servlet-name>
    <url-pattern>/agenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Compterendu</servlet-name>
    <servlet-class>servlet.Compterendu</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compterendu</servlet-name>
    <url-pattern>/compterendu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCR</servlet-name>
    <servlet-class>servlet.AddCR</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCR</servlet-name>
    <url-pattern>/addCR</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>servlet.AddEvent</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/addEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarnetPartenaires</servlet-name>
    <servlet-class>servlet.CarnetPartenaires</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Jerome</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarnetPartenaires</servlet-name>
    <url-pattern>/carnetpartenaires</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.Deconnexion</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value>Emilie</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
</web-app>