/******** Générale Dashboard (layout) ********/

h1, h2, h3, h4{
  text-align: center
}

#menu ul{
	padding: 1% 5%;
}

#menu ul li{
	text-align: center;
}
#menu ul li:hover{
	cursor: pointer;
}

#menu ul li i{
	font-size: 150%;
}

section{
	padding: 2% 4%;
}

/*** Page Dashboard ***/

#infodash div{
	margin-bottom: 2%;
}
#infodash div {
	display: flex;
	flex-flow: : row nowrap;
	justify-content: space-around;
}
#infodash div:first-of-type ul{
	background-color:#87CEEB;
}
#infodash div:last-of-type ul{
	background-color:#8bc34a;
}
#infodash ul li:first-child{
	font-weight: bold;
}

/*** Liste ***/
.liste{
	width: 80%;
	margin: 0 auto;
}
.liste>li{
	padding:0;
	margin-bottom: 2%;
}
.liste>li:nth-of-type(odd){
	background-color:#87CEEB;
}

.liste>li:nth-of-type(even){
	background-color:#8bc34a;
	
}
.liste>li>ul{
	border: 2px solid #ffc107;
}
.liste>li>ul>li:first-of-type{
	background-color:#ffc107;
}

/*** Liste 2nd niveau ***/
.liste2{
	width: 80%;
	margin: 4% auto;
}


/*** Formulaires générale ***/
form{
	padding: 5% 10%;
}
form label{
	font-size: 140%;
}
form button{
	width: 20%;
	margin: 2% 40%;
	
}